
<h3>TU VOTO AUDITADO</h3>

<p>
<b><u>IMPORTANTE</u></b>: ESTE VOTO, QUE HA SIDO AUDITADO, <em>NO SERÁ CONTADO COMO VOTO FINAL</em>.<br />
Para emitir el voto debes hacer click en el botón "VOLVER A VOTAR" a continuación, volver a encriptarlo/escribirlo y seleccionar "EMIIR" en lugar de "AUDITAR".

</p>

<p>
<b>¿Por qué?</b> Helios impide auditar y emitir el mismo voto, para brindarle cierta protección contra la coerción.
</p>

<p>
<b>¿Ahora qué?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Selecciona la información de la auditoría del voto</a>, cópiela en el portapapeles y luego use el <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">verificador de voto</a> para verificarlo.<br />
Una vez que esté conforme, haga click en el botón "VOLVER A VOTAR" para volver a cifrar y emitir su voto.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Antes de volver a votar,<br />
puedes enviar esta boleta al Centro de Seguimiento de Helios para que otros puedan verificar la autenticidad de este voto (doble check es doble verificación).
<br /><br />
<b>INCLUSO SI PUBLICAS TU VOLETA AUDITADA, DEBES VOLVER A VOTAR Y ELEGIR "EMITIR" SI DESEAS QUE EL VOTO CUENTE.</b>
<br /><br />
<input type="button" value="VOLVER A VOTAR" onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot();" class="pretty" />
&nbsp; &nbsp;&nbsp;
<input type="button" value="ENVIAR EL VOTO AUDITADO AL CENTRO DE SEGUIMIENTO" onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot();" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;"/>

</form>




