
<div id="questions_div">
<p>
    Para emitir tu voto, debes guiarte por los siguientes pasos (pasos a seguir).<br />
    Si aún no inicias la sesión, se te solicitará hacerlo al finalizar el proceso.
<p>
    
<ol>
    <li> <b>SELECCIONA TU ALTERNATIVA PREFERIDA</b><br />
<span style="font-size: 14pt;">Puedes navegar fácilmente hacia atrás y adelante.</span></li>
<br />

    <li> <b>REVISA Y CONFIRMA TUS ELECCIONES</b><br />
<span style="font-size: 14pt;">
  Tus elecciones están encriptadas de forma segura dentro del navegador y tienes un rastreador inteligente de tu papeleta.<br />
</span>
</li>
<br />

    <li> <b>ENVÍA TU PAPELETA ENCRIPTADA</b><br />
<span style="font-size: 14pt;">
Se te solicitará iniciar la sesión para enviar tu papeleta para el recuento.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">COMENZAR</button></div>
</div>

