PROPORCIONES LA IDENTIFICACIÓN DE VOTANTE Y LA CONTRASEÑA QUE RECIBIÓ POR E-MAIL.<br /><br />
<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />
<table>
    {{password_login_form.as_table}}
</table>
{% if bad_voter_login %}
<p style="color: red;">
La ID o contraseña son erróneos, inténtelo de nuevo.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<p class="small">
Puedes enviar emitir todos los votos que desees:<br />solo el último será tomado en consideración.
</p>
<input class="submit" type="submit" class="button" value="Enviar papeleta" />
{% else %}
<input class="submit" type="submit" class="button" value="Ingresar" />
{% endif %}
</form>

