{% extends TEMPLATE_BASE %}
{% block title %}Confirmación de Voto{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{{election.name}} &mdash; ¡Voto emitido!</h1>
    <h3>¡FELICITACIONES, TU VOTO HA SIDO RECIBIDO CON ÉXITO!</h3>
</div>

<p>
  Rastreador inteligente de tu papeleta:<br /><br />
    <tt style="font-size:1.8em; font-weight: bold; padding-left: 20px;">  {{vote_hash}}</tt>
</p>

{% if logout %}
<p><b>Por tu seguridad, hemos cerrado tu sesión.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

<p style="font-size: 1.4em; text-align:center">
<a class="button" href="{% url "election@view" election.uuid %}">volver a la elección</a>
</p>

{% endblock %}
